In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

## Literary Data:
First, I am just going to load in the raw csv file, and remove all of the extraneous columns. There are about 20 of them that contain absolutely no useful information, so I am getting rid of them. Then, I am going to list the remaining columns underneath this cell.

In [3]:
literature_raw = pd.read_csv('brechts_literary_cleaned.csv')

In [4]:
literature_raw

,Magazine,Best American Short Stories Score,Pushcart Score,Henry Prize Score,PEN DAU Score,Best of the Net Score,Wigleaf Score,Best Small Fictions Score,Best Microfiction Score,Twitter Score,...,Twitter Followers,Twitter Following,Twitter Account Created,Becky Tuch Interview,Unnamed: 27,Submission Cost,Submission Currency,Words Min,Words Max,Page Count
0,Ploughshares,0.250000,0.790323,0.24,0.25,NaN,NaN,0.133333,NaN,0.0080,...,"72,236","1,700",Tue Apr 14 13:32:35 +0000 2009,NaN,NaN,3,USD,0,7500,0
1,Granta,0.250000,0.354839,0.40,0.50,0.571429,NaN,NaN,0.071429,0.0239,...,"214,950",585,Tue Feb 17 20:31:49 +0000 2009,NaN,NaN,4,USD,3000,6000,0
2,Zoetrope: All-Story,0.216216,0.669355,0.28,NaN,NaN,NaN,NaN,NaN,0.0008,...,"6,789",854,Wed Aug 24 00:26:20 +0000 2011,NaN,NaN,NaN,USD,0,0,0
3,The Paris Review,0.175676,1.000000,0.28,0.25,NaN,NaN,NaN,NaN,0.1108,...,"995,467","4,383",Thu Sep 03 13:48:31 +0000 2009,NaN,NaN,0,USD,0,0,0
4,The Southern Review,0.162162,0.685484,0.12,0.50,NaN,NaN,0.333333,NaN,0.0036,...,"32,077",519,Tue Aug 18 22:14:03 +0000 2009,NaN,NaN,3,USD,0,10000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1068,OneBlackBoyLikeThat Review,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,...,NaN,NaN,NaN,NaN,NaN,0,USD,3000,1000,0
1069,Page & Spine / goodreadmag.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,...,NaN,NaN,NaN,NaN,NaN,0,USD,0,3000,0
1070,Apalachee Review,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,...,NaN,NaN,NaN,NaN,NaN,0,USD,0,0,18
1071,Blue Lake Review,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,...,NaN,NaN,NaN,NaN,NaN,0,USD,100,6000,0
1072,Cutthroat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,...,NaN,NaN,NaN,NaN,NaN,3,USD,0,5000,0

In [14]:
literature_raw.columns

Index(['Magazine', 'Best American Short Stories Score', 'Pushcart Score',
       'Henry Prize Score', 'PEN DAU Score', 'Best of the Net Score',
       'Wigleaf Score', 'Best Small Fictions Score', 'Best Microfiction Score',
       'Twitter Score', ' TOTAL SCORE ', ' RANK ', 'Reading Period',
       'Submissio Cost', 'Word Count', 'Print', 'Payment', 'Restrictions',
       'Twitter Handle', 'Country', 'Location', 'Description', 'Website',
       'Twitter Followers', 'Twitter Following', 'Twitter Account Created',
       'Becky Tuch Interview', 'Unnamed: 27', 'Submission Cost',
       'Submission Currency', 'Words Min', 'Words Max', 'Page Count'],
      dtype='object')

In [6]:
literature_raw.get([' TOTAL SCORE ', "Reading Period", "Page Count", "Word Count", "Words Min", "Words Max"])

,TOTAL SCORE,Reading Period,Page Count,Word Count,Words Min,Words Max
0,0.2812637,June to January,0,<7500,0,7500
1,0.2592124,"March, June, September, December",0,3000-6000,3000,6000
2,0.2420242,Currently closed,0,NaN,0,0
3,0.2284998,March and September,0,NaN,0,0
4,0.1953562,September to December,0,<10000,0,10000
...,...,...,...,...,...,...
1068,-,"March, July, November",0,3000-1000,3000,1000
1069,-,All year,0,"<3000, also flash",0,3000
1070,-,All year,18,<18 pages,0,0
1071,-,All year,0,100-6000,100,6000
1072,-,September to October,0,<5000,0,5000

In [7]:
reading_period_raw = literature_raw.get("Reading Period")

In [8]:
reading_period_string = reading_period_raw.to_string

In [12]:
reading_period_string

<bound method Series.to_string of 0                        June to January
1       March, June, September, December
2                       Currently closed
3                    March and September
4                  September to December
                      ...
1068               March, July, November
1069                            All year
1070                            All year
1071                            All year
1072               September to October
Name: Reading Period, Length: 1073, dtype: object>

In [15]:
literature_raw

,Magazine,Best American Short Stories Score,Pushcart Score,Henry Prize Score,PEN DAU Score,Best of the Net Score,Wigleaf Score,Best Small Fictions Score,Best Microfiction Score,Twitter Score,...,Twitter Followers,Twitter Following,Twitter Account Created,Becky Tuch Interview,Unnamed: 27,Submission Cost,Submission Currency,Words Min,Words Max,Page Count
0,Ploughshares,0.250000,0.790323,0.24,0.25,NaN,NaN,0.133333,NaN,0.0080,...,"72,236","1,700",Tue Apr 14 13:32:35 +0000 2009,NaN,NaN,3,USD,0,7500,0
1,Granta,0.250000,0.354839,0.40,0.50,0.571429,NaN,NaN,0.071429,0.0239,...,"214,950",585,Tue Feb 17 20:31:49 +0000 2009,NaN,NaN,4,USD,3000,6000,0
2,Zoetrope: All-Story,0.216216,0.669355,0.28,NaN,NaN,NaN,NaN,NaN,0.0008,...,"6,789",854,Wed Aug 24 00:26:20 +0000 2011,NaN,NaN,NaN,USD,0,0,0
3,The Paris Review,0.175676,1.000000,0.28,0.25,NaN,NaN,NaN,NaN,0.1108,...,"995,467","4,383",Thu Sep 03 13:48:31 +0000 2009,NaN,NaN,0,USD,0,0,0
4,The Southern Review,0.162162,0.685484,0.12,0.50,NaN,NaN,0.333333,NaN,0.0036,...,"32,077",519,Tue Aug 18 22:14:03 +0000 2009,NaN,NaN,3,USD,0,10000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1068,OneBlackBoyLikeThat Review,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,...,NaN,NaN,NaN,NaN,NaN,0,USD,3000,1000,0
1069,Page & Spine / goodreadmag.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,...,NaN,NaN,NaN,NaN,NaN,0,USD,0,3000,0
1070,Apalachee Review,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,...,NaN,NaN,NaN,NaN,NaN,0,USD,0,0,18
1071,Blue Lake Review,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,...,NaN,NaN,NaN,NaN,NaN,0,USD,100,6000,0
1072,Cutthroat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0000,...,NaN,NaN,NaN,NaN,NaN,3,USD,0,5000,0